$backgroundColor: #363636;
$textColor: white;

html {
    background-color: $backgroundColor;
}

body {
    text-align: center;
    font-family: 'Recursive';
    color: $textColor;
}

h5{
    margin-left: 8rem;
    margin-right: 8rem;
}