$backgroundColor: #363636;
$textColor: white;

html {
    background-color: $backgroundColor;
}

body {
    font-family: 'Recursive';
    color: $textColor;
}

.fbvideo {
    margin-left: auto;
    margin-right: auto;
    width: 8em
}

